*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  max-height: 100vh;
  font-size: 20px;
}
#pomodoro-page {
  background-color: red;
}
.wrapper {
  margin: 0 auto;
  max-height: 100vh;
  max-width: 100vw;
  background-image: url(./water.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-bottom: 200px;
}
#pomodoro-info {
  background-color: white;
  border: solid black 2px;
  padding: 5px;
  margin-top: 10px;
}
#pomodoro-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-height: initial;
}
#pomodoro-timer {
  max-width: 80vw;
}
#pomodoro-clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  max-width: 300px;
  margin-top: 20px;
}

#pomodoro-clock-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  border: 5px solid lightgrey;
}

#pomodoro-clock-timer {
  font-size: 3rem;
}

#pomodoro-clock-circle * {
  color: black;
}

#pomodoro-clock-task {
  display: inline-block;
  margin-top: 10px;
  width: 200px;
  padding: 5px 10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

#pomodoro-clock-title {
  margin-top: 20px;
  width: 200px;
}

#pomodoro-clock-actions {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100px;
}

#pomodoro-clock-actions button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.hidden {
  display: none;
}

.pomodoro-input {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-right: 10px;
}

.pomodoro-input input {
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 5px;
}
.half-tomato {
  background-image: url("half-tomato-png.png");
  background-repeat: no-repeat;
  padding: 10px;
}
.full-tomato {
  background-image: url("full-tomato-png.png");
  background-repeat: no-repeat;
  padding: 10px;
}
